-i https://pypi.python.org/simple/
backcall==0.1.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
click==7.0
cycler==0.10.0
decorator==4.4.0
future==0.18.1
google-api-core[grpc]==1.14.3
google-auth==1.6.3
google-cloud-core==0.28.1
google-cloud-datastore==1.7.0
googleapis-common-protos==1.6.0
grpcio==1.24.1
hyperopt==0.1.1
idna==2.8
ipython-genutils==0.2.0
ipython==7.8.0
jedi==0.15.1
jinja2==2.10.3
joblib==0.14.0
kiwisolver==1.1.0
lightgbm==2.1.2
logbook==1.4.0
markupsafe==1.1.1
matplotlib==2.2.3
networkx==2.4
numpy==1.15.1
pandas-profiling==1.4.1
pandas==0.23.4
parso==0.5.1
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==2.0.10
protobuf==3.10.0
ptyprocess==0.6.0
pyasn1-modules==0.2.7
pyasn1==0.4.7
pygments==2.4.2
pymongo==3.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
raven==6.9.0
redis==3.3.11
requests==2.22.0
rq==0.12.0
rsa==4.0
scikit-learn==0.21.3
scipy==1.1.0
shap==0.24.0
six==1.12.0
ta-lib==0.4.17
ta==0.2.0
tqdm==4.36.1
traitlets==4.3.3
urllib3==1.24.2
wcwidth==0.1.7
xgboost==0.80
