-i https://pypi.python.org/simple
appnope==0.1.0 ; sys_platform == 'darwin'
backcall==0.1.0
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
click==7.0
cloudpickle==0.8.0
cycler==0.10.0
dask[array]==1.1.4
decorator==4.3.2
future==0.17.1
google-api-core[grpc]==1.8.1
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-datastore==1.7.3
googleapis-common-protos==1.5.8
grpcio==1.19.0
hyperopt==0.1.2
idna==2.8
ipython-genutils==0.2.0
ipython==7.3.0
jedi==0.13.3
jinja2==2.10
kiwisolver==1.0.1
lightgbm==2.2.3
logbook==1.4.3
markupsafe==1.1.1
matplotlib==3.0.3
networkx==2.2
numpy==1.16.2
pandas-profiling==1.4.1
pandas==0.24.2
parso==0.3.4
pexpect==4.6.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pillow==5.4.1
prompt-toolkit==2.0.9
protobuf==3.7.0
ptyprocess==0.6.0
pyasn1-modules==0.2.4
pyasn1==0.4.5
pygments==2.3.1
pymongo==3.7.2
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
pywavelets==1.0.2
raven==6.10.0
redis==3.2.1
requests==2.21.0
rq==0.13.0
rsa==4.0
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
shap==0.28.5
six==1.12.0
ta-lib==0.4.17
ta==0.3.8
toolz==0.9.0
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
xgboost==0.82
