

<div class="container-fluid text-center">
    <!-- <div class="row text-center"> -->
        {% if current_user.telegram_id %}
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Telegram</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <img src="{{current_user.telegram_photo}}" class="avatar img-circle" alt="telegram photo">@{{current_user.telegram_username}}
                        </h6>
                            <p class="card-text">Kryptos is able to send you notifications</p>
                            <a href={{ url_for("web.telegram_logout") }} class="card-link btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Authenticate With Telegram</h5>
                        <h6 class="card-subtitle mb-2 text-muted">

                        </h6>
                            <p class="card-text">Authorizing with Telegram will allow Kryptos to send you notifications about your strategies</p>
                            <script async src="https://telegram.org/js/telegram-widget.js" data-telegram-login="{{telegram_bot}}" data-size="large" data-auth-url={{telegram_auth_url}} data-request-access="write"></script>
                    </div>
                </div>
            </div>
        {% endif %}


    <!-- </div> -->
</div>
