[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
ta-lib = "*"
quandl = "*"
click = "*"
pytrends = "*"
"e1839a8" = {path = ".", editable = true}
colorama = "*"
flask = "*"
flask-jsonrpc = "*"
rq = "*"
rq-dashboard = "*"
#enigma-catalyst = "*"
enigma-catalyst = "*"
jupyterlab = "*"
xgboost = "*"
sklearn = "*"
setuptools = "==38.5.1"
flask-cors = "*"
flask-assistant = "*"
"aniso8601" = "*"
flask-user = "*"
flask-migrate = "*"
"psycopg2" = "*"

[dev-packages]
black = "==18.4a4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
