[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
enigma-catalyst = "==0.5.8"
matplotlib = "*"
ta-lib = "*"
quandl = "*"
click = "*"
pytrends = "*"
"e1839a8" = {path = ".", editable = true}
colorama = "*"
flask = "*"
flask-jsonrpc = "*"

[dev-packages]
black = "==18.4a4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
