[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

enigma-catalyst = "*"
matplotlib = "*"
pandas = "*"
ta-lib = "*"
quandl = "*"
click = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]


[requires]

python_version = "3.6"


[pipenv]

allow_prereleases = true
