aiodns==1.1.1
aiohttp==2.3.9
alembic==0.9.7
appnope==0.1.0
async-timeout==2.0.0
bcolz==0.12.1
bleach==2.1.2
boto3==1.5.18
botocore==1.8.32
Bottleneck==1.2.1
cchardet==2.1.1
ccxt==1.10.776
certifi==2018.1.18
chardet==3.0.4
click==6.7
contextlib2==0.5.5
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.27.3
decorator==4.2.1
docutils==0.14
empyrical==0.2.1
enigma-catalyst==0.4.6
entrypoints==0.2.3
html5lib==1.0.1
idna==2.6
intervaltree==2.1.0
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
Logbook==1.1.0
lru-dict==1.1.6
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.1
mistune==0.8.3
multidict==4.0.0
multipledispatch==0.4.9
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
notebook==5.3.1
numexpr==2.6.4
numpy==1.14.0
pandas==0.19.2
pandas-datareader==0.5.0
pandocfilters==1.4.2
parso==0.1.1
patsy==0.5.0
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycares==2.3.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
pyzmq==16.0.3
qtconsole==4.3.1
redo==1.6
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
s3transfer==0.1.12
scipy==1.0.0
Send2Trash==1.4.2
simplegeneric==0.8.1
six==1.11.0
sortedcontainers==1.5.9
SQLAlchemy==1.2.1
statsmodels==0.8.0
TA-Lib==0.4.14
tables==3.4.2
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==4.5.3
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.0
yarl==1.0.0
