{% extends 'flask_user/_authorized_base.html' %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{% block content %}

<h1>{%trans%}Build a Strategy{%endtrans%}</h1>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if not field.flags.hidden %}
            {% if not field.type=='SubmitField' %}
                {{ render_field(field, tabindex=loop.index*20) }}
            {% endif %}
        {% endif %}
    {% endfor %}

    <!-- Add label and group for any params that may be added -->
    <label for="param-field-group">Parameters</label>
    <div class="form-group" id="param-field-group">
    </div>

    <!-- Add submit buttons after parameters -->
    {% for field in form %}
        {% if not field.flags.hidden %}
            {% if field.type=='SubmitField' %}
                {{ render_submit_field(field, tabindex=loop.index*20) }}
            {% endif %}
        {% endif %}
    {% endfor %}

</form>
{% endblock %}

{% block extra_js %}
<script charset="utf-8" type="text/javascript">

$(document).ready(function() {

    var params = $('#param-field-group')

    // jQuery selection for the 2 select boxes
    var dropdown = {
        group: $('#indicator_group_select'),
        indicator: $('#indicator_select'),

    };

    // call to update on load
    updateIndicatorList();

    // function to call XHR and update indicator dropdown
    function updateIndicatorList() {
        var send = {
            group: dropdown.group.val()
        };
        dropdown.indicator.attr('disabled', 'disabled');
        dropdown.indicator.empty();
        $.getJSON("{{ url_for('web._get_group_indicators') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.indicator.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.indicator.removeAttr('disabled');
        });
    }

    function updateInidicatorParams (sel) {
        let indicatorAbbrev = sel.options[sel.selectedIndex].text
        var send = {
            indicator: indicatorAbbrev,
        };
        params.attr('disabled', 'disabled');
        params.empty();
        $.getJSON("{{ url_for('web._get_indicator_params') }}", send, function(data) {
            console.log(data);
            addParameterFields(data)
            params.removeAttr('disabled');
        });
    }

    function addParameterFields(new_params){
        console.log('emptying params')
        params.attr('disabled', 'disabled');
        params.empty();

        console.log('Adding ')
        console.log(new_params)

        let idx = 0
        for (var p in new_params) {

        // append to the params form group
        let label = $('<label class="control-label"></label>')
        let input = $('<input class="form-control tabindex="30" type="number">')

        label.attr('for', p)
        label.text(p)

        input.attr('id', p)
        input.attr('name', "param-" + p)
        input.text(p)
        input.val(new_params[p])

        params.append(label, input)
        }

    }

    // event listener to group dropdown change
    dropdown.group.on('change', function() {
        updateIndicatorList();
    });

    dropdown.indicator.on('change', function() {
        // update params based on the selected indicator
        updateInidicatorParams(this);
    });
});

</script>
{% endblock %}
