{% extends 'base.html' %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{% from "_macros.html" import render_submit_as_btn %}
{% block content %}

<div class="container text-center">
    <div class="row">
       <h1 class="text-center">{%trans%}Build a Strategy{%endtrans%}</h1>
       <h3>Indicators</h3>
   </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-6 col-lg-5 col-centered">
            <form action="" method="POST" class="form" role="form">
                {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-sm-4 col-centered">
                    {{render_field(form.signal_type)}}</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-4">
                    {{ render_field(form.target_series) }}
                </div>
                <div class="col-sm-4 col-md-4">
                    {{ render_field(form.func) }}
                </div>
                <div id='period-field-container' class="col-sm-4 col-md-4">
                    {{ render_field(form.period) }}
                </div>
                <div id='trigger-field-container' class="col-sm-4 col-md-4">
                    {{ render_field(form.trigger_series) }}
                </div>
            </div>
            <!-- Add submit buttons after parameters -->
            {% for field in form %}
                {% if not field.flags.hidden %}
                    {% if field.type=='SubmitField' %}
                        {{ render_submit_as_btn(field, tabindex=loop.index*20) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </form>
        </div>
    </div>
</div>



{% endblock %}
{% block extra_js %}

<script charset="utf-8" type="text/javascript">

$(document).ready(function() {

    const PERIOD_FUNCS = ['decreasing', 'increasing']
    var funcSelector = $('#signal-func-select')
    var periodField = $("#period-field-container")
    var triggerField = $('#trigger-field-container')

    // call to update on load
    upodateSignalParams();

    // function to call XHR and update indicator dropdown
    function upodateSignalParams() {

        periodField.hide();
        triggerField.hide();

        let val = funcSelector.val();
        console.log('Using param for ' + val)

        if (PERIOD_FUNCS.includes(val)) {
            periodField.show();
        }
        else {
            triggerField.show();
        }
    }

    // event listener to group dropdown change
    funcSelector.on('change', function() {
        upodateSignalParams();
    });

});

</script>
{% endblock %}
