[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
ta-lib = "*"
quandl = "*"
click = "*"
pytrends = "*"
colorama = "*"
rq = "*"
rq-dashboard = "*"
enigma-catalyst = "*"
setuptools = "==38.5.1"
"psycopg2" = "*"
logbook = "*"
honcho = "*"
google-cloud = "*"
google-cloud-datastore = "*"
gunicorn = "*"
raven = "*"
google-cloud-storage = "*"
google-cloud-kms = "*"
google-cloud-logging = "*"

[dev-packages]
black = "==18.4a4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
