[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
ta-lib = "*"
quandl = "*"
click = "*"
pytrends = "*"
colorama = "*"
flask = "*"
flask-jsonrpc = "*"
rq = "*"
rq-dashboard = "*"
#enigma-catalyst = "*"
enigma-catalyst = "*"
jupyterlab = "*"
xgboost = "*"
sklearn = "*"
setuptools = "==38.5.1"
"psycopg2" = "*"
python-telegram-bot = "*"
logbook = "*"
"e1839a8" = {path = ".", editable = true}
google-cloud = "*"
honcho = "*"
google-cloud-datastore = "*"
gunicorn = "*"

[dev-packages]
black = "==18.4a4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
