-i https://pypi.python.org/simple
aiodns==1.1.1 ; python_version >= '3.5.2'
aiohttp==4.0.0a0 ; python_version >= '3.5.2'
alembic==0.9.7
arrow==0.13.1
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.1.0
bcolz==1.2.1
boto3==1.5.27
botocore==1.8.50
bottleneck==1.2.1
cachetools==3.1.0
cchardet==2.1.1 ; python_version >= '3.5.2'
ccxt==1.17.94
certifi==2018.1.18
cffi==1.12.2
chardet==3.0.4
click==6.7
colorama==0.4.1
contextlib2==0.5.5
cycler==0.10.0
cyordereddict==1.0.0
cython==0.27.3
cytoolz==0.9.0.1 ; implementation_name == 'cpython'
decorator==4.3.0
docutils==0.14
empyrical==0.2.1
enigma-catalyst==0.5.21
eth-abi==1.3.0
eth-account==0.2.3
eth-hash[pycryptodome]==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.1
eth-rlp==0.1.2
eth-typing==2.1.0
eth-utils==1.4.1
flask==1.0.2
google-api-core[grpc]==1.8.1
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-datastore==1.7.3
google-cloud-kms==1.0.0
google-cloud-logging==1.10.0
google-cloud-storage==1.14.0
google-cloud==0.34.0
google-resumable-media==0.3.2
googleapis-common-protos[grpc]==1.6.0b9
grpc-google-iam-v1==0.11.4
grpcio==1.19.0
gunicorn==19.9.0
hexbytes==0.1.0
honcho==1.0.1
idna-ssl==1.1.0 ; python_version < '3.7'
idna==2.7
inflection==0.3.1
intervaltree==2.1.0
itsdangerous==1.1.0
jinja2==2.10
jmespath==0.9.4
kiwisolver==1.0.1
logbook==0.12.5
lru-dict==1.1.6
lxml==4.3.2
mako==1.0.7
markupsafe==1.0
matplotlib==3.0.3
more-itertools==6.0.0
multidict==4.5.2
multipledispatch==0.4.9
networkx==2.1
numexpr==2.6.4
numpy==1.14.0
pandas-datareader==0.6.0
pandas==0.19.2
parsimonious==0.8.1
patsy==0.5.0
protobuf==3.7.0
psycopg2==2.7.7
pyasn1-modules==0.2.4
pyasn1==0.4.5
pycares==3.0.0
pycparser==2.19
pycryptodome==3.7.3
pyparsing==2.3.1
python-dateutil==2.7.3
python-editor==1.0.4
pytrends==4.4.0
pytz==2016.4
quandl==3.4.6
raven==6.10.0
redis==3.2.1
redo==2.0.1
requests-file==1.4.3
requests-ftp==0.3.1
requests-toolbelt==0.8.0
requests==2.20.1
rlp==1.1.0
rq-dashboard==0.4.0
rq==0.13.0
rsa==4.0
s3transfer==0.1.13
scipy==1.0.0
six==1.11.0
sortedcontainers==1.5.9
sqlalchemy==1.2.2
statsmodels==0.8.0
ta-lib==0.4.17
tables==3.4.2
toolz==0.9.0
typing-extensions==3.7.2 ; python_version < '3.7'
urllib3==1.24.1
web3==4.4.1 ; python_version >= '3.5.2'
websockets==5.0.1
werkzeug==0.14.1
wrapt==1.11.1
yarl==1.1.0 ; python_version >= '3.5.2'
