{% extends "flask_user_layout.html" %}



     {% block content %}

     <div class="jumbotron">
         <div class="text-center">
             <h1 class="display-4">Kryptos AI</h1>
             <p class="lead">Kryptos AI is a virtual investment assistant that manages your cryptocurrency portfolio</p>
             <hr class="my-4">
             <p>Join the Cryptocurrency Revolution Today</p>

            {% if current_user.is_authenticated %}
                <a class="btn btn-primary btn-lg "href={{ url_for("account.manage_exchanges") }}>Manage Exchanges</a>
                <a class="btn btn-primary btn-lg "href={{ url_for("account.build_strategy") }}>Build A Strategy</a>
                <a class="btn btn-primary btn-lg "href={{ url_for("user.logout") }}>Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href={{ url_for('user.register') }} role="button">Register</a>
                <a class="btn btn-primary btn-lg" href={{ url_for('user.login') }}>{%trans%}Sign in{%endtrans%}</a>

            {% endif %}

         </div>
     </div>

{% endblock %}
