[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jsonrpc = "*"
rq = "*"
rq-dashboard = "*"
flask-cors = "*"
flask-assistant = "*"
"aniso8601" = "*"
flask-user = "*"
flask-migrate = "*"
"psycopg2" = "*"
python-telegram-bot = "*"
numpy = "*"
ta-lib = "*"
gunicorn = "*"
shortuuid = "*"
google-cloud = "*"

[dev-packages]
black = "==18.4a4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
