-i https://pypi.python.org/simple/
aiodns==1.1.1 ; python_version >= '3.5.2'
aiohttp==4.0.0a1 ; python_version >= '3.5.2'
alembic==1.5.7
aniso8601==4.0.1
arrow==1.0.3
async-timeout==3.0.1
attrs==20.3.0
bcrypt==3.2.0
blinker==1.4
cachetools==4.2.1
ccxt==1.17.425
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==8.0.0a1
cryptography==3.4.6
dataclasses==0.8 ; python_version < '3.7'
flask-assistant==0.2.99
flask-cors==3.0.6
flask-login==0.5.0
flask-mail==0.9.1
flask-migrate==2.3.0
flask-sqlalchemy==2.5.1
flask-user==1.0.1.5
flask-wtf==0.14.3
flask==1.0.2
future==0.18.2
google-api-core[grpc]==1.26.1
google-auth==1.28.0
google-cloud-core==0.28.1
google-cloud-datastore==1.7.0
google-cloud-kms==0.2.0
google-cloud-storage==1.13.0
google-crc32c==1.1.2 ; python_version >= '3.5'
google-resumable-media==1.2.0
googleapis-common-protos[grpc]==1.53.0
greenlet==1.0.0 ; python_version >= '3'
grpc-google-iam-v1==0.11.4
grpcio==1.36.1
gunicorn==19.9.0
honcho==1.0.1
idna-ssl==1.1.0 ; python_version < '3.7'
idna==2.10
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==2.0.0rc1
jinja2==2.11.3
logbook==1.4.1
mako==1.1.4
markupsafe==2.0.0rc1
multidict==4.7.6
numpy==1.15.3
packaging==20.9
passlib==1.7.4
protobuf==4.0.0rc2
psycopg2==2.7.5
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycares==3.1.1
pycparser==2.20
pyparsing==3.0.0b2
python-dateutil==2.8.1
python-editor==1.0.4
python-telegram-bot==11.1.0
pytz==2021.1
raven[flask]==6.9.0
redis==3.5.3
requests==2.25.1
rq-dashboard==0.3.12
rq==0.12.0
rsa==4.7.2 ; python_version >= '3.6'
ruamel.yaml.clib==0.2.2 ; platform_python_implementation == 'CPython' and python_version < '3.10'
ruamel.yaml==0.16.13
shortuuid==0.5.0
six==1.15.0
sqlalchemy==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.26.4
werkzeug==2.0.0rc3
wtforms==3.0.0a1
yarl==1.1.0 ; python_version >= '3.5.2'
zipp==3.4.1
