{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">{%trans%}User Dashboard{%endtrans%}</h1>

    <div class="container">
        <div class="row">
            <div class="col0sm-12 col-md-4">
                {% include "account/telegram_auth.html" %}
            </div>

          {% if current_user.strategies %}
            <div class="col-sm-12 col-md-4">
                {% include "account/strategy_list.html" %}
            </div>
          {% endif %}




        </div>
    </div>


{% endblock %}
