{% extends 'flask_user/_authorized_base.html' %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{% from "_macros.html" import render_form %}
{% block content %}

<h1 class=text-center>{%trans%}Build a Strategy{%endtrans%}</h1>
<hr>
<h3 class=text-center>Basic Configuration</h3>

{{ render_form(form) }}


{% block extra_js %}
<script charset="utf-8" type="text/javascript">

$(document).ready(function() {

    var params = $('#param-field-group')

    // jQuery selection for the 2 select boxes
    var dropdown = {
        exchange: $('#exchange_select'),
		asset: $('#asset_select'),
        quoteCurrency: $('#quote_select')
    };

	dropdown.quoteCurrency.attr('disabled', 'disabled')


    // call to update on load
    requestExchangePairs();


    function requestExchangePairs () {
        var send = {
            exchange: dropdown.exchange.val()
        };
        dropdown.asset.attr('disabled', 'disabled');
        dropdown.asset.empty();
        $.getJSON("{{ url_for('strategy._get_exchange_asset_pairs') }}", send, function(data) {

            if (data) {
                updateAssetList(data)
            } else{
                setTimeout(function(){

                    requestExchangePairs();
                }, 1000);
            }
        });
    }


    // update asset dropdown
    function updateAssetList (data) {
        data.forEach(function(item) {
            dropdown.asset.append(
                $('<option>', {
                    value: item[0],
                    text: item[1]
                })
            );
        });
        dropdown.asset.removeAttr('disabled');
		updateQuoteCurrencyString();
    }

	// update quote currency based on the selected asset
	function updateQuoteCurrencyString () {
		let pair = dropdown.asset.val()
		if (pair) {
			dropdown.quoteCurrency.val(pair.split('_')[1])
		}

	}

    // event listener to group dropdown change
    dropdown.exchange.on('change', function() {
        requestExchangePairs();
    });

    dropdown.asset.on('change', function() {
		updateQuoteCurrencyString()

    });
});

</script>
{% endblock %}



{% endblock %}
