{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field, render_form %}


{% macro render_form(form) -%}
<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if not field.flags.hidden %}
            {% if field.type=='SubmitField' %}
                {{ render_submit_field(field, tabindex=loop.index*10) }}
            {% else %}
                {{ render_field(field, tabindex=loop.index*10) }}
            {% endif %}
        {% endif %}
    {% endfor %}
</form>
<br/>
{%- endmacro %}

{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}
