<div id="header-div" class="clearfix with-margins">
    <div class="pull-left"><a href="/"><h1 class="no-margins">
        {{ user_manager.USER_APP_NAME }}
        <a href="{{ 'https://t.me/' + config['TELEGRAM_BOT']}}"><i class="fab fa-telegram"></i></a>
    </h1></a></div>
    <div class="pull-right">
        {% if call_or_get(current_user.is_authenticated) %}
            {% if call_or_get(current_user.telegram_photo) %}
                <img src="{{current_user.telegram_photo}}" class="avatar img-circle" alt="telegram photo">
            {% endif %}

            <a href="{{ url_for('web.user_account') }}">{{ current_user.telegram_username or current_user.email }}</a>
            &nbsp; | &nbsp;
            <a href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
        {% else %}
            <a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
        {% endif %}
    </div>
</div>
