{% extends "bootstrap/base.html" %}
{% block title %}Kryptos{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Strategy Configuration</h1>


  <form method="POST" action="{{ url_for('public.submit') }}">
      {{ form.csrf_token }}
      <p>{{ form.name.label }} {{ form.name(size=20) }} <br>
          {{ form.trade_type.label }} {{ form.trade_type }} <br>
          {{ form.exchange.label }} {{ form.exchange }} <br>
          {{ form.start.label}} {{ form.start }} <br>
          {{ form.end.label}} {{ form.end }} <br>
          {{ form.base_currency.label}} {{ form.base_currency }} <br>
          {{form.asset.label}} {{form.asset}} <br>
          {{form.data_freq.label}} {{form.data_freq}} <br>
          {{form.capital_base.label}} {{form.capital_base}} <br>
          {{form.bar_period.label}} {{form.bar_period}} <br>
          {{form.order_size.label}} {{form.order_size}} <br>
          {{form.slippage_allowed.label}} {{form.slippage_allowed}} <br>

      </p>


      <input type="submit" value="Go">
  </form>


{% endblock %}
